body{
    background-color: rgb(204, 226, 228);
    font-family: 'Julee', cursive;
    font-size: 1rem;
}
hr{
    background-color: rgb(144, 151, 207);
    border-style: none;
    height: 0.125rem;
}
table.intro{
    height: 1.25rem;
    width: 60%;
}
.experience{
    height: 1.25rem;
    width: 1.5625rem;
}
h1{
    color: #546ac5;
    font-family: 'Kalam', cursive;
    font-size: 2.5rem;
}
h3{
    color: #546ac5;
    font-family: 'Cinzel', serif;
}
hr{
    border-style: none;
    background-color: rgb(204, 226, 228);
    border-top-style: dotted;
    border-color: gray;
    border-width: 0.3125rem;
    width: 5%;
    align-items: center;
}
#work{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
